{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fd2cedbe14.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>To Do App</title>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">To Do App</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'user-tasks' %}">Tasks</a></li>
                    <li><a href="/accounts/logout">Logout</a></li>
                    <li>{{ user.username }}</li>
                    {% else %}
                    <li><a href="/accounts/login">Login</a></li>
                    <li><a href="/accounts/register">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
        <footer></footer>
    </div>
</body>

</html>